<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <button ion-button (click)="login()" *ngIf="!loggedIn">Login</button>
  <button ion-button (click)="logout()" *ngIf="loggedIn">logout</button>


  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{imageUrl}}">
      </ion-avatar>
      <h2>{{displayName}}</h2>
      <p>{{email}}</p>
      <p>{{familyName}}</p>

    </ion-item>
  </ion-list>





</ion-content>
